@model IEnumerable<AT_DR2.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Pessoas" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Pesquisar" />
    </p>
</form>

<h1>Aniversariantes de Hoje</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aniversario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Aniversario.Day == DateTime.Today.Day && item.Aniversario.Month == DateTime.Today.Month)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sobrenome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aniversario)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IDPessoa">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IDPessoa">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IDPessoa">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<h1>Pessoas por ordem de Data de Aniversario</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aniversario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(item => item.Aniversario))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aniversario)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IDPessoa">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IDPessoa">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IDPessoa">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h1>Pessoas Cadastradas</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aniversario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aniversario)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IDPessoa">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IDPessoa">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IDPessoa">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
