@model IEnumerable<TP3_DR2.ViewModels.PessoaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Pessoa" asp-action="Search">
    <p>
        Title: <input type="text" name="pesquisa">
        <input type="submit" value="Pesquisa" />
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aniverssario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aniverssario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IDPessoa }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IDPessoa }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.IDPessoa })
            </td>
        </tr>
}
    </tbody>
</table>
